{% extends 'pickem/base.html' %}
{% load staticfiles %}

{% block additional_style %}
<link type="text/css" href="{% static 'pickem/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">

    <form class="form-signin" method="post" action="{% url 'pickem:login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">CFB Pickem</h2>
        {% if form.errors %}
        <p class="form-signin-error">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <input type="text" class="form-control" placeholder="username" id="id_username" name="username" maxlength="254"
               required autofocus>
        <input type="password" class="form-control" placeholder="password" id="id_password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
</div>
{% endblock %}
