td.wager {
    width: 20px;
    text-align: right;
}

.picklist-left th.team {
    text-align: right;
}

.picklist-right th.team {
    text-align: left;
}

td.user {
    width: auto;
}

.picklist-left td.user {
    text-align: right;
}
.picklist-left td.wager{
    text-align: left;
    padding-left: 5px;
}

.picklist-right td.user {
    text-align: left;
}
.picklist-right td.wager{
    text-align: right;
    padding-right: 5px;
}

.game-details {
    text-align: center;
}

.matchup-row:nth-of-type(odd) {
    background-color: #f4f4f4;
}

.matchup-row {
    border-top: 1px solid #ddd;
    padding-top: 4px;
    padding-bottom: 20px;
}

.picklist-left {
    float: right;
}

.picklist-right {
    float: left;
}
