
.main-table {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.game {
    text-align: center;
}

table.picklist {
    width: 100%;
}

td.wager {
    width: 30px;
    text-align: right;
    padding-right: 4px;
}

td.user {
    text-align: left;
}
