.table-container {
}

.pick-list {
    width: 100%;
}

.button-div {
    padding: 0;
    padding-right: 2px;
}

.pick-list input[type="radio"] {
    display: none;
}

.pick-list input[type="radio"]:checked + label {
    background-color: #428bca;
    color: #ffffff;
}

.team-button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    background-color: #bbb;
}

.pick-list label {
}

.pick-list-col {
    height: 41px;
    margin-bottom: 2px;
    display: table;
    padding: 0;
}

.pick-list-col > * {
    height: 41px;
}

.pick-list label:hover {
    border-style: solid;
    border-color: #000000;
}

.handle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
    display: table;
}

.game-title-col {
    display: table;
    table-layout: fixed;
    padding-right: 3px;
}

.handle > span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.handle-grip {
    padding-right: 5px;
}

.pick-idx {
    padding-right: 10px;
    font-size: 14pt;
    font-weight: bold;
}

.game_title {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

