/* Previously: pick-list-col
 */
.matchup-col {
    height: 41px;
    margin-bottom: 2px;
    display: table;
    table-layout: fixed;
    padding: 0;
    padding-right: 2px;
}

/* Previously: team-button 
 * Removed:
 *  width: 100%;
 * */
.pick-button {
    margin-left: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    background-color: #bbb;
    /*border-radius: 5px;*/
}

.handle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
    display: table;

    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}

.handle-grip {
    padding-right: 5px;
    width: auto;
}

.handle-grip-placeholder {
    padding-right: 15px;
    width: 15px;
}

/* Formerly: pick-idx
 */
.matchup-wager{
    padding-right: 10px;
    font-size: 14pt;
    font-weight: bold;
    text-align: right;
    width: 35px;
    display: inline-block;
}

/* Formerly: pick-list-info
 */
.matchup-info-btn{
    width: 50%;
    height: 100%;
}
