{% extends 'pickem/base.html' %}

{% block content %}
<h1>{{ game.event.name }}</h1>
<p>{{ game.pretty_date }}</p>
<table>
    {% for participant in game.participant_set.all %}
    <tr>
        <td>
            <a href="{{ participant.teamseason.team.site }}">
                {% if participant.teamseason.rank %}
                <strong>{{ participant.teamseason.rank }} </strong>
                {% endif %}
                {{ participant.teamseason.team }}
                {{ participant.teamseason.record }}
            </a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
