{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

    <title>{% block title %}CFB Pickem{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'pickem/css/navbar-fixed-top.css' %}" type="text/css" rel="stylesheet">
    {% block additional_style %}{% endblock %}
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'pickem:index' %}">CFB Pickem</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% url 'pickem:index' as index_url %}
                {% url 'pickem:picks' as picks_url %}
                {% url 'pickem:scores' as score_url %}
                {% if request.get_full_path == index_url %}
                <li class="active"><a href="{{ index_url }}">Home</a></li>
                {% else %}
                <li><a href="{{ index_url }}">Home</a></li>
                {% endif %}
                {% if request.get_full_path == picks_url %}
                <li class="active"><a href="{{ picks_url }}">Picks</a></li>
                {% else %}
                <li><a href="{{ picks_url }}">Picks</a></li>
                {% endif %}
                {% if request.get_full_path == score_url %}
                <li class="active"><a href="{{ score_url }}">Scores</a></li>
                {% else %}
                <li><a href="{{ score_url }}">Scores</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% block extra_navbar_right %}{% endblock %}
                {% if not request.user.is_authenticated %}
                    {% url 'pickem:login' as login_url %}
                    {% if request.get_full_path == login_url %}
                        <li class="active"><a href="{{ login_url }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ login_url }}">Login</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'pickem:select_all' %}"><b>Make Picks</b></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username|capfirst }} <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_superuser %}
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                            <li><a href="{% url 'pickem:select_all' %}">Picks</a></li>
                            <li><a href="{% url 'pickem:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
{% block external_js %}{% endblock %}
</body>
</html>
