{% extends 'pickem/base.html' %}
{% block content %}
{% if game_list %}
<h1>Upcoming Games</h1>
<table border="1">
    <tr>
        <td>Game</td>
        <td>Kickoff</td>
    </tr>
    {% for game in game_list %}
    <tr>
        <td><a href="{% url 'pickem:game' game.id %}">{{ game.event }}</a></td>
        <td>{{ game.pretty_date }}</td>
        {% for participant in game.participants %}
            <td>
                {% if participant.team.rank %}
                <strong>{{ participant.team.rank }}</strong>
                {% endif %}
                {{ participant.team.name }}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No games available</p>
{% endif %}
{% endblock %}
