{% extends 'pickem/base.html' %}
{% block title %}Picks{% endblock %}
{% block content %}
<h1>Picks</h1>
<table class="table table-hover table-bordered table-condensed" style="width:auto;">
<thead>
    <tr>
        {% for col in picks_headers %}
        {% if forloop.counter >= 2 %}
        <th colspan="2">{{ col }}</th>
        {% else %}
        <th>{{ col }}</th>
        {% endif %}
        {% endfor %}
    </tr>
</thead>
    <tbody>
    {% for row in picks_table %}
        <tr>
            {% for elt in row %}
            <td>
                {{ elt }}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
