{% extends 'pickem/base.html' %}
{% block title %}Picks{% endblock %}
{% block content %}
<h1>Picks</h1>
<table class="table table-hover table-bordered table-condensed" style="font-family:monospace;">
<thead>
    <tr>
        {% for col in picks_headers %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
</thead>
    <tbody>
    {% for row in picks_table %}
        <tr>
            {% for elt in row %}
            <td>
                {{ elt }}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
