{% extends 'pickem/base.html' %}
{% load staticfiles %}

{% block title %}Picks{% endblock %}

{% block additional_style %}
<link type="text/css" href="{% static 'pickem/css/pretty_picks.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Picks</h1>
{% if started == False %}
<div class="alert alert-danger">
<p>Picks from all users are not displayed until pickem starts.</p> 
</div>
{% else %}
<div class="container pick-table">
    {% for pick_summary in pick_summaries %}
    <div class="row matchup-row">
        {% for team, picks in pick_summary.picks.items %}
        <div class="col-xs-4 team">
            {% if forloop.counter0 == 0 %}
            <table class="picklist-left">
            {% else %}
            <table class="picklist-right">
            {% endif %}
                <thead><tr><th class="team" colspan="2">{{ team }}</th></tr></thead>
                <tbody>
                    {% for pick in picks %}
                    <tr>
                        {% if forloop.parentloop.counter0 == 0 %}
                        <td class="user">
                            {{ pick.user|capfirst }}
                        </td>
                        <td class="wager">
                            <strong>{{ pick.amount }}</strong>
                        </td>
                        {% else %}
                        <td class="wager">
                            <strong>{{ pick.amount }}</strong>
                        </td>
                        <td class="user">
                            {{ pick.user|capfirst }}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if forloop.counter0 == 0 %}
        <div class="col-xs-4 game-details">
            <p>
            {{ pick_summary.game.event.name }}<br>
            {{ pick_summary.game.datetime|date:"DATE_FORMAT" }}<br>
            {{ pick_summary.game.datetime|date:"P" }}
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div>
    <form action="{% url 'pickem:picks_table' %}">
        <button type='submit' class='btn btn-default' style='margin-bottom: 10px'>View condensed</button>
    </form>
</div>
{% endif %}
{% endblock %}
