{% extends 'pickem/base.html' %}
{% load staticfiles %}

{% block title %}Picks{% endblock %}

{% block additional_style %}
<link type="text/css" href="{% static 'pickem/css/pretty_picks.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if started == False %}
<div class="alert alert-danger">
    <p>
    Picks are secret until pickem starts. Check back after 
    {{ start_time|date:"DATETIME_FORMAT" }}
    </p>

    <p>
    You can view your picks at any time by using the navigation bar and
    selecting <strong>Make Picks</strong>. Or just
    <a href="{% url 'pickem:select_all' year %}">click here</a>
    </p>
</div>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">Pick progress</div>
        <div style="margin:5px;">
            {% for user, percentage in user_progress %}
            <h4>{{ user|capfirst }}</h4>
            <div class="progress">
                <div class="progress-bar {% if percentage == 100 %}progress-bar-success{% endif %}"
                    role="progressbar" aria-valuenow="{{ percentage }}"
                    aria-valuemin="0" aria-valuemax="100"
                    style="width: {{ percentage }}%;">
                    <span class="sr-only">{{ percentage }}% Complete</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
{% for pick_summary in incomplete_picks %}
<div class="row matchup-row">
    {% for team, picks in pick_summary.picks.items %}
    <div class="col-xs-4 team">
        {% if forloop.counter0 == 0 %}
        <table class="picklist-left">
        {% else %}
        <table class="picklist-right">
        {% endif %}
            <thead><tr><th class="team" colspan="2">{{ team }}</th></tr></thead>
                <tbody>
                    {% for pick in picks %}
                    <tr>
                        {% if forloop.parentloop.counter0 == 0 %}
                        <td class="user">
                            {{ pick.user|capfirst }}
                        </td>
                        <td class="wager">
                            <strong>{{ pick.amount }}</strong>
                        </td>
                        {% else %}
                        <td class="wager">
                            <strong>{{ pick.amount }}</strong>
                        </td>
                        <td class="user">
                            {{ pick.user|capfirst }}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if forloop.counter0 == 0 %}
        <div class="col-xs-4 game-details">
            <p>
            {{ pick_summary.game.event.name }}<br>
            {{ pick_summary.game.datetime|date:"DATE_FORMAT" }}<br>
            {{ pick_summary.game.datetime|date:"P" }}
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
<div class="row"><h3>Completed games</h3></div>
{% for pick_summary in complete_picks %}
<div class="row matchup-row">
    {% for team, picks in pick_summary.picks.items %}
    {% if forloop.counter0 == pick_summary.winner_index %}
    <div class="col-xs-4 team winning-pick">
    {% else %}
    <div class="col-xs-4 team losing-pick">
    {% endif %}
        {% if forloop.counter0 == 0 %}
        <table class="picklist-left">
        {% else %}
        <table class="picklist-right">
        {% endif %}
            <thead><tr><th class="team" colspan="2">{{ team }}</th></tr></thead>
            <tbody>
                {% for pick in picks %}
                <tr>
                    {% if forloop.parentloop.counter0 == 0 %}
                    <td class="user">
                        {{ pick.user|capfirst }}
                    </td>
                    <td class="wager">
                        <strong>{{ pick.amount }}</strong>
                    </td>
                    {% else %}
                    <td class="wager">
                        <strong>{{ pick.amount }}</strong>
                    </td>
                    <td class="user">
                        {{ pick.user|capfirst }}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if forloop.counter0 == 0 %}
    <div class="col-xs-4 game-details">
        <p>
        {{ pick_summary.game.event.name }}<br>
        {{ pick_summary.game.datetime|date:"DATE_FORMAT" }}<br>
        {{ pick_summary.game.datetime|date:"P" }}
        </p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
<div>
    <form action="{% url 'pickem:picks_table' year %}">
        <button type='submit' class='btn btn-default' style='margin-bottom: 10px'>View condensed</button>
    </form>
</div>
{% endif %}
{% endblock %}
