{% extends 'pickem/base.html' %}
{% load staticfiles %}

{% block title %}Scores{% endblock %}
{% block additional_style %}
<link type="text/css" href="{% static 'pickem/css/scores.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% if started == False %}
<div class="row">
    <div class="alert alert-danger">
        <p>Score page will not be available until
        {{ start_time|date:"DATETIME_FORMAT" }}
        </p>
    </div>
</div>
{% elif not scores_as_bars %}
<div class="row">
    <div class="alert alert-danger">
        <p>No users</p>
    </div>
</div>
{% elif progress_bar_style %}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">What's this?</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-1"><strong>User</strong></div>
                <div class="col-xs-9">
                    <div class="progress">
                        <div class="progress-bar score-label"
                            role="progressbar" aria-valuenow="10"
                            aria-valuemin="0" aria-valuemax="100"
                            style="width: 20%;">
                            <span><strong>Score</strong></span>
                        </div>
                        <div class="progress-bar"
                            role="progressbar" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"
                            style="width: 30%;">
                        </div>
                        <div class="progress-bar progress-bar-success"
                            role="progressbar" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"
                            style="width: 25%;">
                        </div>
                        <div class="progress-bar score-label"
                            role="progressbar" aria-valuenow="10"
                            aria-valuemin="0" aria-valuemax="100"
                            style="width: 25%;">
                            <span><strong>Remaining</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 totals">
                    <span>
                        <strong>
                            Possible
                        </strong>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% for user, percentage, score, remainder_per, remainder in scores_as_bars %}
<div class="row">
    <div class="col-xs-2"><strong>{{ user|capfirst }}</strong></div>
    <div class="col-xs-9">
        <div class="progress">
            <div class="progress-bar score-label"
                role="progressbar" aria-valuenow="10"
                aria-valuemin="0" aria-valuemax="100"
                style="width: 10%;">
                <span><strong>{{ score }}</strong></span>
            </div>
            <div class="progress-bar"
                role="progressbar" aria-valuenow="{{ percentage }}"
                aria-valuemin="0" aria-valuemax="100"
                style="width: {{ percentage }}%;">
            </div>
            <div class="progress-bar progress-bar-success"
                role="progressbar" aria-valuenow="{{ remainder_per }}"
                aria-valuemin="0" aria-valuemax="100"
                style="width: {{ remainder_per }}%;">
            </div>
            <div class="progress-bar score-label"
                role="progressbar" aria-valuenow="10"
                aria-valuemin="0" aria-valuemax="100"
                style="width: 10%;">
                <span><strong>{{ remainder }}</strong></span>
            </div>
        </div>
    </div>
    <div class="col-xs-1 totals">
        <p class="text-left"><strong>{{ score|add:remainder }}</strong></a>
    </div>
</div>
{% endfor %}
{% else %}
<table class="table table-striped scoreboard">
    <thead>
        <tr>
        {% for header in score_headers %}
            <th>
                {{ header }}
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in score_table %}
        <tr>
            {% for elt in row %}
            <td>

                {{ elt|capfirst }}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
