{% extends 'pickem/base.html' %}
{% load staticfiles %}

{% block title %}Picks{% endblock %}

{% block additional_style %}
<link type="text/css" href="{% static 'pickem/css/sortable_selection.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="sortable_selection">
    <form method="POST" action="{% url 'pickem:select_all' %}" id="rankform">
        <div class="sortable_selection" style="margin: 0 5px 0 0">
        <ul>
                {% for dummy in selection_form_items %}
                <li>
                    <table>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                        </tr>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sortable_selection">
            {% csrf_token %}
            <input type='hidden' name='matchup_ordering' id='matchup_ordering'>
            <ul id="matchup_ranking">
                {% for matchup in selection_form_items %}
                <li id="game={{ matchup.game.id }}">
                    <table>
                        <tr>
                            <td class="game_title">{{ matchup.game.event.name }}</td>
                            <td class="sortable_selection_divider">|</td>
                            {% for team in matchup.teams %}
                            <td class="team_button">
                                <input type="radio"
                                       name="game={{ matchup.game.id }}"
                                       value="{{ team.name }}"
                                       id="{{ team.name }}"
                                {% if forloop.counter == matchup.checked %}
                                checked="checked"
                                {% endif %}
                                >
                                <label class="btn btn-default" for="{{ team.name }}">{{ team.name }}</label>
                            </td>
                            {% if forloop.counter == 1 %}
                            <td class="sortable_selection_divider">|</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
{% endblock %}

{% block external_js %}
<script type="text/javascript" src="{% static 'pickem/libs/jquery-ui/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'pickem/js/select_all_form.js' %}"></script>
{% endblock %}

