{% extends 'pickem/base.html' %}
{% load staticfiles %}

{% block title %}My Picks{% endblock %}

{% block additional_style %}
<link type="text/css" href="{% static 'pickem/css/sortable_selection.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_navbar_right %}
<li><button type="submit" form="rankform" class="mybutton btn btn-primary btn-lg" id="save_button">Save Picks</a></li>
{% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">How to play</div>
    <div class="panel-body">
        <p>
        For each matchup, select team you think will win. Your
        selection will be shown in blue. 
        </p>
        <p>
        Each game is assigned a points value which is its position in
        the list.
        You can reorder the games by dragging them up or down the list. Place
        your most confident picks at the top.
        </p>
        <p>
        Hit "Save Picks" in the navigation bar at the top of the page at
        any time to save your work.
        </p>
    </div>
</div>
{% if missing_count > 0 %}
<div class="alert alert-warning">
    <p>You still have <b>{{ missing_count }} picks</b> to make!
    </p>
</div>
{% else %}
<div class="alert alert-success">
    <p><b>Well done!</b>
    You've finished your picks for all games. Just make sure you have them in
    the order you want.
    </p>
</div>
{% endif %}
<form method="POST" action="{% url 'pickem:select_all' %}" id="rankform">
    {% csrf_token %}
    <input type='hidden' name='matchup_ordering' id='matchup_ordering'>
    <div class="table_container">
        <table class="pick_table table">
            <thead><tr><th>Points</th></tr></thead>
            <tbody>
                {% for matchup in selection_form_items %}
                <tr><td style="text-align: right;">{{ forloop.revcounter }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="pick_table table">
            <thead>
                <tr><th colspan="4">Bowl</th></tr>
            </thead>
            <tbody id="matchup_ranking">
                {% for matchup in selection_form_items %}
                <tr id="game={{ matchup.game.id }}">
                    <td class="handle"><b>::</b></td>
                    <td class="game_title">
                        <a href="{% url 'pickem:game' matchup.game.id %}">{{ matchup.game.event.name }}</a>
                    </td>
                    {% for team in matchup.teams %}
                    <td>
                            <input type="radio"
                                   name="game={{ matchup.game.id }}"
                                   value="{{ team.name }}"
                                   id="{{ team.name }}"
                            {% if forloop.counter == matchup.checked %}
                            checked="checked"
                            {% endif %}
                            >
                            <label class="btn btn-default btn-block team_button" for="{{ team.name }}">
                            {{ team.name }}
                            {% if team.rank %}
                            ({{ team.rank }})
                            {% endif %}
                        </label>
                    </td>
                        {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}

{% block external_js %}
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="{% static 'pickem/js/select_all_form.js' %}"></script>
{% endblock %}

