{% extends 'pickem/base.html' %}
{% load staticfiles %}

{% block title %}My Picks{% endblock %}

{% block additional_style %}
<link type="text/css" href="{% static 'pickem/css/sortable_selection.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_navbar_right %}
<li><button type="submit" form="rankform" class="mybutton btn btn-primary btn-lg" id="save_button">Save Picks</a></li>
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'pickem:select_all' %}" id="rankform">
    {% csrf_token %}
    <input type='hidden' name='matchup_ordering' id='matchup_ordering'>
    <div class="table_container">
        <table class="pick_table table">
            <thead><tr><th>Confidence</th></tr></thead>
            <tbody>
                {% for matchup in selection_form_items %}
                <tr><td>{{ forloop.revcounter }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="pick_table table">
            <thead>
                <tr><th>Bowl</th></tr>
            </thead>
            <tbody id="matchup_ranking">
                {% for matchup in selection_form_items %}
                <tr id="game={{ matchup.game.id }}">
                    <td class="game_title">
                        <a href="{% url 'pickem:game' matchup.game.id %}">{{ matchup.game.event.name }}</a>
                    </td>
                    {% for team in matchup.teams %}
                    <td>
                            <input type="radio"
                                   name="game={{ matchup.game.id }}"
                                   value="{{ team.name }}"
                                   id="{{ team.name }}"
                            {% if forloop.counter == matchup.checked %}
                            checked="checked"
                            {% endif %}
                            >
                            <label class="btn btn-default btn-block team_button" for="{{ team.name }}">
                            {{ team.name }}
                            {% if team.rank %}
                            ({{ team.rank }})
                            {% endif %}
                        </label>
                    </td>
                        {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}

{% block external_js %}
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'pickem/js/select_all_form.js' %}"></script>
{% endblock %}

